$bg-color: #eeebe2;
$main-color: #080909;
$caret-color: #7fa480;
$sub-color: #99947f;
$sub-alt-color: #d3cfc1;
$text-color: #080909;
$error-color: #c87e74;
$colorful-error-color: #a56961;
$colorful-error-color: #c87e74;
$colorful-error-extra-color: #a56961;
