$bg-color: #fffbef;
$main-color: #8da101;
$caret-color: #df69ba;
$sub-color: #a6b0a0;
$sub-alt-color: #f8f5e4;
$text-color: #5c6a72;
$error-color: #f85552;
$error-extra-color: #f57d26;
$colorful-error-color: #f85552;
$colorful-error-extra-color: #f57d26;