$bg-color: #e1dacb;
$main-color: #7b7d7d;
$caret-color: #7b7d7d;
$sub-color: #b29c5e;
$sub-alt-color: #d3cdc1;
$text-color: #7b7d7d;
$error-color: #f28578;
$error-extra-color: #d56558;
$colorful-error-color: #f28578;
$colorful-error-extra-color: #d56558;
