$bg-color: #d6d3d6;
$main-color: #5c1e5f;
$caret-color: #b92221;
$sub-color: #b49cb5;
$sub-alt-color: #cabfca;
$text-color: #282528;
$error-color: #bd2621;
$error-extra-color: #a62626;
$colorful-error-color: #bd2621;
$colorful-error-extra-color: #a62626;
