$bg-color: #1a1b26;
$main-color: #769dee;
$caret-color: #e0af68;
$sub-color: #565f89;
$sub-alt-color: #24283b;
$text-color: #c0caf5;
$error-color: #f7768e;
$error-extra-color: #ff9e64;
$colorful-error-color: #f7768e;
$colorful-error-extra-color: #ff9e64;
