$bg-color: #6c687f;
$main-color: #ffffff;
$caret-color: #585568;
$sub-color: #9994b8;
$sub-alt-color: #77738c;
$text-color: #ffffff;
$error-color: #e32b2b;
$error-extra-color: #a62626;
$colorful-error-color: #e32b2b;
$colorful-error-extra-color: #a62626;
