$bg-color: #141221;
$main-color: #fd77d7;
$caret-color: #dde5ed;
$text-color: #dde5ed;
$error-color: #fd77d7;
$sub-color: #676e8a;
$sub-alt-color: #1e1d2f;
$error-color: #ff5869;
$error-extra-color: #b03c47;
$colorful-error-color: #ff5869;
$colorful-error-extra-color: #b03c47;
