$bg-color: #1f1d27;
$main-color: #9ccfd8;
$caret-color: #f6c177;
$sub-color: #c4a7e7;
$sub-alt-color: #282533;
$text-color: #e0def4;
$error-color: #eb6f92;
$error-extra-color: #ebbcba;
$colorful-error-color: #eb6f92;
$colorful-error-extra-color: #ebbcba;
